.cripto{
    border: 1px solid skyblue;
    border-radius: 5px;
    border-left: 10px solid skyblue;
    padding: 1rem;
}

.info{
    color: rgb(201, 184, 184);
}

.label{
    color: skyblue;
}

.positivo{
    color: green;
}

.negativo{
    color: red;
}